button:focus {
  @apply outline-none;
}

.btn {
  @apply inline-block rounded-full font-bold uppercase border border-blue-500 text-blue-500 px-10 py-5 text-sm bg-white leading-none shadow-md text-center;
  transition: all 250ms ease;
}

.btn .lowercase {
  @apply lowercase;
}

.btn:hover {
  @apply bg-blue-500 text-white shadow-none;
}

.btn:disabled,
.btn.blue:disabled {
  @apply bg-gray-400 border-gray-400 text-white shadow-none cursor-not-allowed;
}

.btn:disabled:hover
.btn.blue:disabled:hover {
  @apply bg-gray-400 border-gray-400 text-white;
}

.btn.white {
  @apply bg-white text-blue-500 border-white;
}

.btn.blue {
  @apply bg-blue-500 text-white;
}

.btn.text-xs {
  @apply px-6 py-3 shadow;
}

@screen lg {
  .btn {
    @apply px-14;
  }
}
