.error-message {
  @apply text-red-600 font-bold mb-4;
}

input[type="search"],
input[type="password"],
input[type="number"],
input[type="text"],
input[type="email"],
input[type="tel"],
select {
  @apply px-2 py-1 border-b border-gray-500 block w-full bg-white;
  transition: border-color 250ms ease;

  &:focus {
    @apply outline-none border-blue-500;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgeG1sbnM6eGxpbms9J2h0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48cGF0aCBmaWxsPScjNDQ0JyBkPSdNNy40MDYgNy44MjhsNC41OTQgNC41OTQgNC41OTQtNC41OTQgMS40MDYgMS40MDYtNiA2LTYtNnonPjwvcGF0aD48L3N2Zz4=");
  background-position: 99% 50%;
  background-repeat: no-repeat;
  background-size: 16px;
}

input[type="number"] {
	-moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
